
@import url('https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@400;500;700;800');

body {
  font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

a {
  transition: color 0.3s ease;
}

a:hover {
  color: #3dabf4;
}
